header {
  display: flex;
  flex-direction: column;
  position: relative;
  .header__menu {
    background-color: #f4f4f4;
    display: flex;
    padding: 18px 20px;
    align-items: center;
    justify-content: space-between;
    &__item {
      text-decoration: none;

      color: #000;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 1600px) {
        font-size: 18px;
      }
    }
  }
  .header__main {
    display: flex;
    padding: 33px 20px;
    align-items: center;
  }
  .header__lower-menu {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    &__catalog {
      cursor: pointer;
      display: flex;
      gap: 24px;
      align-items: center;
      span {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
    @media (max-width: 1366px) {
      justify-content: space-between;
    }
  }
}
.header__main {
  &__address {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 309px;
    margin: 0;
    margin-right: 41px;
  }
  &__contacts {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 1900px) {
      font-size: 25px;
    }
    @media (max-width: 1650px) {
      font-size: 22px;
    }
    .timeWork {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-left: 10px;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 1700px) {
          font-size: 15px;
        }
      }
    }
  }
  &__input {
    display: flex;
    max-width: 825px;
    width: 100%;
    margin: 0 69px 0 73px;
    position: relative;
    @media (max-width: 1900px) {
      max-width: 625px;
    }
    @media (max-width: 1620px) {
      margin: 0 50px 0 50px;
      max-width: 405px;
    }
    @media (max-width: 768px) {
      margin: 20px 0px;
    }
    input {
      padding: 15px 32px;
      width: 100%;
      background-color: #f4f4f4;
      border: none;
      &::placeholder {
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 10px;
      background-image: url("../images/free-icon-search.png");
      width: 42px;
      height: 42px;
    }
  }
}

.header__lower-menu {
  &__filter {
    display: flex;
    margin: 0 89px 0 163px;
    gap: 63px;
    @media (max-width: 1900px) {
      margin: 0 70px 0 70px;
      white-space: nowrap;
    }
    .item {
      cursor: pointer;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 1600px) {
        white-space: nowrap;
      }
    }
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  &__letters {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 7.68px;
    text-transform: uppercase;
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .letter {
      text-decoration: none;
      color: #000;
    }
    @media (max-width: 1460px) {
      flex-wrap: wrap;
    }
  }
}
.header__menu__burger,
.logo {
  display: none;
}
// mobile template

.mobileMenu,
.mobileBrands {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #fff;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  padding: 20px;
  .contact_info {
    margin-top: auto;
    .header__main__contacts {
      margin-top: 15px;
    }
  }
  &.open {
    left: 0;
  }
  .nav {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 30px;
  }
  .mobMenuItem {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 1366px) {
  .header__main {
    display: none !important;
  }

  .header__lower-menu__filter .item:not(.andMobile),
  .header__lower-menu__letters {
    display: none !important;
  }
  .logo,
  .header__menu__burger {
    display: block;
  }
  .header__menu__burger {
    height: 40px;
  }
  .header__menu__item {
    display: none;
  }
  .header__lower-menu__alphabet {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 7.68px;
    text-transform: uppercase;
    max-width: 950px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    .letter {
      text-decoration: none;
      color: #000;
    }
  }
  .mobileMenu {
    .header__main__input {
      margin: 0;
      margin-top: 20px;
    }
  }
}
